@import "variables";
@import "mixins";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.articles {
    background-color:#161616;
    color: #FFF;
    margin: 0 auto;
}

.articles__border-box:not(:last-child) {
    border-bottom: 1px solid #FFF;
}

.articles__border-box:last-child {
    padding-bottom: 25px;
}

.articles__top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1180px;
    margin: 0 auto;
    @media (min-width: 481px) and (max-width: 767px) {
        flex-direction: column;
        padding-bottom: 20px;
    } 
    @media (max-width: 480px) {
        flex-direction: column;
        padding-bottom: 20px;
    } 
}

.articles__main-article {
    display: flex;
    max-width: 1180px;
    margin: 0 auto;
    gap: 60px;
    min-width: 554px;
    padding-top: 30px;
    padding-bottom: 35px;
    @media (min-width: 992px) and (max-width: 1449px) {
        display: grid;
    grid-template-columns: repeat(auto-fit, minmax(479px, 1fr));
    gap:20px;
    padding-top: 20px;
    }   
    @media (min-width: 768px) and (max-width: 991px) {
        display: grid;
    grid-template-columns: repeat(auto-fit, minmax(434px, 1fr));
    max-width: none;
    }  
    @media (min-width: 481px) and (max-width: 767px) {
        flex-direction: column;
        min-width: auto;
        align-items: center;
        gap: 15px;
    }  
    @media (max-width: 480px) {
        flex-direction: column;
        min-width: auto;
        align-items: center;
    }
}

.articles__main-content {
    max-width: 478px;
    @media (min-width: 992px) and (max-width: 1449px) {
        max-width: none;
    } 
    @media (min-width: 768px) and (max-width: 991px) {
        max-width: none;
    }    
    @media (min-width: 481px) and (max-width: 767px) {
        max-width: none;
        text-align: center;
    } 
    @media (max-width: 480px) {
        text-align: center; 
    } 

           
}


.articles__main-pic-box{
    max-width: 552px;
    min-width: 481px;
    @media (min-width: 481px) and (max-width: 767px) {
        max-width: 408px;
        min-width: auto;
    }   
    @media (max-width: 480px) {
        max-width: 380px;
        min-width: 219px;
    }  
}

.articles__main-pic {
    width: 100%;
    object-fit: cover;
}

.article__card-box {
    max-width: 1180px;
    margin: 0 auto;
    @media (min-width: 992px) and (max-width: 1189px) {
        padding-top: 20px;
        padding-bottom: 20px; 
    }
    @media (min-width: 1190px) and (max-width: 1449px) {
        padding-top: 0px;
        padding-bottom: 0px;    
    } 
    @media (min-width: 768px) and (max-width: 992px) {
        padding-top: 20px;
        padding-bottom: 20px;  
    } 
    @media (min-width: 481px) and (max-width: 767px) {
        margin-top: 25px;
        margin-bottom: 25px; 
    } 
    
}


.articles__card-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    max-width: 1180px;
    justify-items: normal;
    @media (min-width: 992px) and (max-width: 1449px) {
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr)); 
    }   
    @media (min-width: 992px) and (max-width: 1189px) {
        gap: 20px;  
    }
    @media (min-width: 1190px) and (max-width: 1449px) {
          gap: 0px; 
    } 
    @media (min-width: 768px) and (max-width: 991px) {
        grid-template-columns: repeat(auto-fit, minmax(662px, 1fr));
        align-items: center;
        gap: 20px;
    } 
    @media (min-width: 481px) and (max-width: 767px) {
        grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
        gap: 20px;
    }    
    @media (max-width: 480px)  {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        gap: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }       
}


.articles__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    transition: all 0.8s;
    &:hover {
        filter: opacity(55%)
    }
    @media (min-width: 992px) and (max-width: 1189px) {
        align-items: flex-start;
        border: 1px solid #FFF;
        padding: 20px 60px 20px 60px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        border: 1px solid #FFF;
        padding: 20px 60px 20px 60px;
        flex-direction: row;
        gap:20px;
    }
    @media (min-width: 481px) and (max-width: 767px) {
        border: 1px solid white;
        padding: 20px;
    }   
    @media (max-width: 480px) {
        border: 1px solid white;
        padding: 20px 15px;
    }    
}  

  .articles__card:not(:first-child) {
    border-left: 1px solid #FFF;
    @media (min-width: 992px) and (max-width: 1449px) {
        border-left: 1px solid #FFF;  
    }
}

  .articles__card-description {
    max-width: 300px;
    @media (min-width: 992px) and (max-width: 1449px) {
        max-width: 295px;
    } 
    @media (min-width: 481px) and (max-width: 767px) {
        text-align: center;
        max-width: none;
    }
    @media (max-width: 480px) {
        text-align: center;
    }   
  }

  

.pic {
    max-width: 100%;
    object-fit: cover;
}

.articles__pic-box {
    max-width: 295px;
    @media (min-width: 768px) and (max-width: 991px) {
        width: 287px;
        height: 100%;
    } 
    @media (min-width: 481px) and (max-width: 767px) {
        max-width: 254px;
    } 
    
}


.articles__h2 {
    font-family: 'Arsenal', sans-serif;
    font-size: 96px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.articles__title {
    font-family: 'Arsenal', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
    margin-bottom: 20px;
}

.articles__text-p {
    font-family: 'Arsenal', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.article__card-title {
    font-family: 'Arsenal', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 15px;
    @media (min-width: 481px) and (max-width: 767px) {
        min-width: 266px;
    } 
    
}

.article__card-text-p {
    font-family: 'Arsenal', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #C2C2C2;
}

.article__link-continue {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-top: 57px;
    font-family: 'Arsenal', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #FFF;
    @media (min-width: 992px) and (max-width: 1449px) {
        justify-content: flex-end;
        gap: 87px;
    } 
    @media (min-width: 768px) and (max-width: 991px) {
        justify-content: flex-end;
        gap:20px;
    } 
    @media (min-width: 481px) and (max-width: 767px) {
        display: none;
    } 
    @media (max-width: 481px)  {
        display: none;
    } 
}
