* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import 'variables';
@import 'mixins';
$mainFont: 'Arsenal', sans-serif;
$mainFontColor: #2d2d2d;
$secondaryFontColor: #505050;

.article__container {

    padding-left: 100px;
    padding-right: 100px;

    @media (min-width: 768px) and (max-width: 991px) {
        padding-left: 70px;
        padding-right: 70px;
    }

    @media (min-width: 481px) and (max-width: 767px) {
        padding-left: 60px;
        padding-right: 60px;
    }

    @media (max-width: 480px) {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.article__main-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1180px;
    align-items: center;
    padding-bottom: 20px;

    a {
        cursor: pointer;
        color: $secondaryFontColor;
    }


    .article__main-title {
        display: flex;
        text-align: center;
        font-family: $mainFont;
        color: $mainFontColor;
        font-size: 26px;
        font-weight: 700;
        line-height: 160%;
        letter-spacing: 1;
        align-items: center;
        justify-content: center;
        padding-bottom: 15px;
        padding-top: 15px;

        @media (max-width: 480px) {
            font-size: 18px;
            font-weight: 500;
            line-height: 190%;
        }
    }

    .article__small-title {
        display: flex;
        text-align: center;
        font-family: $mainFont;
        color: $mainFontColor;
        font-size: 20px;
        font-weight: 700;
        line-height: 120%;
        letter-spacing: 1;
        align-items: center;
        justify-content: center;
        padding-bottom: 15px;
        padding-top: 15px;

        @media (max-width: 480px) {
            font-size: 12px;
            font-weight: 400;
            line-height: 110%;
        }
    }

    p,
    ul,
    ol,
    div {
        text-align: justify;
        font-family: $mainFont;
        font-size: 22px;
        font-weight: 500;
        line-height: 160%;
        letter-spacing: 2;
        color: $secondaryFontColor;
        gap: 10px;

        @media (max-width: 480px) {
            font-family: $mainFont;
            font-size: 2vh;
            line-height: 100%;
            letter-spacing: 0;
            color: $secondaryFontColor;
            gap: 10px;
        }

        @media (min-width: 481px) and (max-width: 767px) {
            font-family: $mainFont;
            font-size: 3vh;
            line-height: 100%;
            letter-spacing: 0;
            color: $secondaryFontColor;
            gap: 10px;
        }

    }

    .articles-image {
        max-width: 100%;
        text-align: center;

        @media (max-width: 480px) {
            max-width: 200px;
        }

        @media (min-width: 481px) and (max-width: 767px) {
            max-width: 350px;
        }

        @media (min-width: 768px) and (max-width: 991px) {
            max-width: 450px;
        }

        @media (min-width: 1024px) {
            max-width: 600px;
        }

        .article-img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }

        .articles-image-title {
            font-family: $mainFont;
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: 0;
            font-style: italic;
            color: $secondaryFontColor;

            @media (max-width: 480px) {
                font-size: 2vh;
                font-weight: 400;
                line-height: 100%;
            }
        }
    }

    .articles__special-p {
        display: flex;
        font-size: 24px;
        font-style: italic;
        border-left: 4px solid #505050;
        padding-left: 10px;

        @media (max-width: 480px) {
            font-size: 16px;
            border-left: 2px solid #505050;
        }

        @media (min-width: 481px) and (max-width: 767px) {
            border-left: 2px solid #505050;
            font-size: 22px;
        }
    }
}

.button-container {
    display: flex;
    flex-direction: row;

    @media (max-width: 480px) {
        flex-direction: column;
    }

}

.btn_green {
    @include btn(rgba(120, 189, 148, 0.34), 18px 50px);
    font-family: $mainFont;
    color: $secondaryFontColor;
    border-radius: 20px;
    cursor: pointer;

    @media (max-width: 480px) {
        font-size: 2vh;
    }

    @media (min-width: 481px) and (max-width: 767px) {
        font-size: 3vh;
    }
}

.container-wrapper {
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
}