@import 'variables';
@import 'mixins';
$mainFontColor: #2d2d2d;
$secondaryFontColor: #505050;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contacts__title {
    @include text-styles ($mainFont, 70px, 600, normal, 0px);
    color: $mainFontColor;
    text-align: center;
    margin-top: 100px;
    display: flex;
    justify-content: center;

    @media (min-width: 768px) and (max-width: 991px) {
        font-size: 50px;
    }

    @media (min-width: 481px) and (max-width: 767px) {
        font-size: 50px;
    }

    @media (max-width: 480px) {
        font-size: 40px;
    }
}

.contacts__websites,
.contacts__support,
.contacts__connection {
    @include text-styles ($mainFont, 32px, 600, 50px, 0px);
    color: $secondaryFontColor;
    text-align: center;
    padding: 30px;

    @media (min-width: 481px) and (max-width: 767px) {
        font-size: 22px;
    }

    @media (max-width: 480px) {
        font-size: 22px;
    }
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    @include text-styles ($mainFont, 20px, 600, normal, 0px);
    color: $secondaryFontColor;

    @media (min-width: 481px) and (max-width: 767px) {
        font-size: 18px;
    }

    @media (max-width: 480px) {
        font-size: 18px;
    }
}

.website {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 70px;
}

.websites-container,
.support-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    justify-items: center;

    @media (max-width: 480px) {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.mail {
    @include text-styles ($mainFont, 20px, 600, normal, 0px);
    color: $secondaryFontColor;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    cursor: pointer;

    @media (max-width: 480px) {
        font-size: 17px;
    }
}