@import "variables";
@import "mixins";

// мои миксины

$mainFontHeader: 'Playfair Display', serif;
$mainFontDescr: 'Source Serif 4', serif;

$mainFontWeight: 600;
$DescrFontWeight: 400;



.container_advt {
    max-width: 1180px;
    margin: 0 auto;
}

.header__main {
    font-family: $mainFontHeader;
    font-size: 32px;
    font-weight: $mainFontWeight;

    text-align: center;
}

.picture__main {
    display: flex;
    justify-content: center;

    margin-top: 40px;
}

.pict-main {
    width: 100%;
    height: 60vw;
}

.container_wrapper {
    max-width: 1180px;
    margin: 0 auto;

    margin-top: 65px;
}

.btn_green,
.btn .btn_green {
    width: 100%;
}

.btn_green {
    @include btn(rgba(120, 189, 148, 0.34), 18px 50px);
    color: $btnTextDark;
    font-family: $mainFontDescr;
    font-weight: $DescrFontWeight;
    font-size: 24px;

    border-radius: 20px;
}

.text__descr {
    font-family: $mainFontDescr;
    font-weight: $DescrFontWeight;
    font-size: 24px;

    margin-top: 30px;
}

.btn__descr {
    margin-top: 25px;
}

.container_btn {
    max-width: 1180px;
    margin: 0 auto;

    display: flex;
    justify-content: center;

    margin-top: 50px;
}

// Страница мероприятий(конец кода)

// Adaptive
@media screen and (max-width:1450px) {
    .container_advt {
        max-width: 1450px;
        margin: 0 auto;
    }

}

@media screen and (max-width:992px) {
    .container_advt {
        max-width: 992px;
        margin: 0 auto;
        padding: 0 auto;
    }

    .header__main {
        font-size: 100%;
    }

    .picture__main {
        max-width: 992px;
        margin: 0 auto;

    }

    .pict-main {
        display: block;
        width: 100%;

        padding: 5vw;
    }

    .container_wrapper {
        max-width: 992px;
        margin: 0 auto;

        margin-top: 2.5vw;
        text-align: center;
    }

    .btn__descr,
    .btn_green {
        width: 100%;
        font-size: 100%;

        margin: 2vw auto;
    }

    ul {
        list-style: none
    }

    .text__descr {
        font-size: 100%;
    }



}