@import "variables";
@import "mixins";

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.contacts {
    margin: 0 auto;
}

.contacts__content-box {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 52px;
    margin-top: 35px;
    margin-bottom: 60px;
    @media (max-width: 480px) {
        margin-top: 15px;
    }
    @media (min-width: 481px) and (max-width:768px) {
        margin-top: 15px;
    }
    @media (min-width: 768px) and (max-width:991px) {
        margin-top: 15px;
    }
}

.contacts__border-box {
    background: #a0d3b2;
    padding: 16px 19px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #bebcbc;
    @media (max-width: 480px) {
        padding: 26px 21px;
    }
    @media (min-width:481px) and (max-width:767px) {
        padding: 25px 26px;
    }
    @media (min-width:768px) and (max-width:991px) {
        padding: 35px 42px;
    }
}



.contacts__socials-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid #bebcbc;
    background: #FFF;
    padding: 11px 52px;
    @media (max-width:480px) {
        align-items: center;
        padding: 5px 0px;
    }
    @media (min-width:481px) and (max-width:767px) {
        align-items: center;
        padding: 11px 0px;
    }  
    
}

.contacts__list-box {
    display: flex;
    gap: 131px;
    @media (max-width:480px) {
        flex-direction: column;
        gap:8px;
    }   
    @media (min-width:481px) and (max-width:767px) {
        gap:50px;
    }   
}


.contacts__social-list {
    display: flex;
    flex-direction: column;
    @media (max-width:480px) {
        gap:8px;
    }
}

.contacts__social-card {
    display: flex;
    align-items: center;
    gap: 10px;
    @media (max-width:480px) {
        flex-direction: column;
    }
}


.boosty-icon {
    width: 75px;
    height: 70px;
    object-fit: cover;
}

.patreon-icon {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.contacts__support-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid #bebcbc;
    background: #FFF;
    padding: 11px 52px;
    @media (max-width: 480px){
        align-items: center;
        padding: 5px 0px;
    }     
    @media (min-width: 481px) and (max-width:767px) {
        align-items: center;
    } 
}

.contacts__title {
    text-align: center;
}
.contacts__support-list-box {
    display: flex;
    flex-direction: row;
    gap: 158px;
    @media (max-width: 480px){
        flex-direction: column;
        gap: 23px;
    }  
    @media (min-width: 481px) and (max-width:767px) {
        gap: 50px;
    }  
   
}

.contacts__support-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    gap: 10px;
    @media (max-width:480px) {
        flex-direction: column;
    }
    @media (min-width: 481px) and (max-width:767px) {
        align-items: center;
    }     
}

.contacts__letter-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 33px;
    gap: 10px;
    border: 1px solid #bebcbc;
    background: #FFF;
    padding: 11px 52px;
    @media (max-width: 480px){
        margin: 0 auto;
        align-items: center;
    }     
    @media (min-width: 481px) and (max-width:767px) {
        align-items: center;
    } 
    @media (min-width: 768px) and (max-width:991px) {
        align-items: center;
    } 
}

.contacts__post-box {
    display: flex;
    align-items: center;
    gap: 10px;
    @media (max-width: 480px){
        display: flex;
    flex-direction: column;
    }   

    
}

.contacts-title {
    @include text-styles ($mainFont, 26px, 700, 160%, 1);
        color: #2D2D2D;
}

.contacts__title-h3 {
    align-self: flex-start; 
    text-align: center;
    margin-top: 1px;
    background-color: #F1F1F1;
    @include text-styles ($mainFont, 70px, 600, normal, 0);
        color: #2D2D2D;
        @media (min-width:992px) and (max-width:1449px) {
            font-size: 55px;
        }
        @media (min-width:768px) and (max-width:991px) {
            font-size: 45px;
        }
        @media (min-width:481px) and (max-width:767px) {
            font-size: 45px;
            text-align: center;
        }
        @media (max-width:480px)  {
            text-align: center;
            font-size: 45px;
        }
    }


.contacts__social-name {
    @include text-styles ($mainFont, 22px, 500, 160%, 2);
        color: #505050;  
}  

.location {
    @include text-styles ($mainFont, 18px, 500, 160%, 2);
        color: #2D2D2D;
        @media (max-width: 480px) {
        text-align: center;
        }
    }  


.contacts__post-box {
    @include text-styles ($mainFont, 22px, 500, 160%, 2);
    color: #2D2D2D;
    @media (min-width: 481px) and (max-width:767px) {
        flex-direction: column;
    }
    
}

.post-address {
    @media (max-width:480px)  {
        display: none;
    }  
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color:inherit;
}