@import "variables";
@import "mixins";

.main {
    margin-bottom: 60px;
}

.header__main {
    font-family: $mainFont;
    color: #2d2d2d;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 1180px;
    margin: auto;
    margin-bottom: 15px;
    @media (min-width:992px) and (max-width:1449px) {
        font-size: 45px;
    }
    @media (min-width:768px) and (max-width:991px) {
        font-size: 32px;
        text-align: center;
    }
    @media (min-width:481px) and (max-width:767px) {
        font-size: 32px;
        text-align: center;
    }
    @media (max-width:480px)  {
        font-size: 32px;
        text-align: center;
    }
}

.events__title-h3 {
    text-align: center;
    margin-top: 1px;
    background-color: #F1F1F1;
    margin-bottom: 100px;
    @include text-styles ($mainFont, 70px, 600, normal, 0);
        color: #2D2D2D;
        @media (min-width:992px) and (max-width:1449px) {
            font-size: 55px;
            margin-bottom: 60px;
        }
        @media (min-width:768px) and (max-width:991px) {
            font-size: 45px;
            margin-bottom: 30px;
        }
        @media (min-width:481px) and (max-width:767px) {
            font-size: 45px;
            margin-bottom: 30px;
        }
        @media (max-width:480px)  {
            font-size: 45px;
            margin-bottom: 30px;
        }
}


.advt_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    max-width: 1180px;
    margin: 0 auto;
    margin-bottom: 60px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .advt_row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5vw;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .advt_row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5vw;
    }
}

@media screen and (max-width: 481px) {
    .advt_row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5vw;
    }
}

.picture__advt {
    display: block;
    object-fit: cover;
    // width: 100%;
    // height: 100%;
}

@media screen and (max-width: 1100px) {
    .picture__advt {
        width: 100%;
    }

    .pict-wpap {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .picture__advt {
        width: 100%;
    }

    .pict-wpap {
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .picture__advt {
        width: 100%;
    }

    .pict-wpap {
        width: 100%;
    }
}

@media screen and (max-width: 481px) {
    .picture__advt {
        width: 100%;
    }

    .pict-wpap {
        width: 100%;
    }
}

.descr {
    display: flex;
    flex-direction: column;
    border-top: 2px solid #C7C7C7;;
    border-bottom: 2px solid #C7C7C7;;
    margin: 0 2vw;
}

@media (min-width: 768px) and (max-width: 991px) {
    .descr {
        align-items: center;
        margin-top: 5vw;
        text-align: center;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .descr {
        align-items: center;
        margin-top: 5vw;
        text-align: center;
    }
}

@media screen and (max-width: 481px) {
    .descr {
        align-items: center;
        margin-top: 7vw;
        text-align: center;
    }
}

.header__descr {
    font-family: $mainFont;
    color: #2d2d2d;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .header__descr {
        font-size: 30px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .header__descr {
        font-size: 30px;
    }
}

@media screen and (max-width: 481px) {
    .header__descr {
        font-size: 24px;
    }
}

.date__event,
.text__descr {
    font-family: $mainFont;
    color: #505050;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

    margin-top: 2vw;
}

@media (min-width: 768px) and (max-width: 991px) {

    .date__event,
    .text__descr {
        text-align: center;
    }
}

// Общая кнопка

.btn,
.btn__mobile {
    margin: 2vw 0;

}

.btn .btn_green {
    @include btn(rgba(120, 189, 148, 0.34), 18px 50px);
    color: #505050;
    font-size: 20px;

    border-radius: 20px;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 991px) {
    .btn .btn_green {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .btn .btn_green {
        width: 100%;
        height: 100%;
    }
}

// Общая кнопка(конец кода)

.header-wrapper {
    font-family: $mainFont;
    color: #505050;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 1180px;
    margin: auto;
    margin-bottom: 15px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-wrapper {
        margin: 5vw 0;
        text-align: center;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .header-wrapper {
        margin: 5vw 0;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .header-wrapper {
        margin: 5vw 0;
        text-align: center;
    }
}



.wrapper {
    max-width: 1180px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    margin: auto;

}

@media (min-width: 768px) and (max-width: 991px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-height: calc(95vh);
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-height: calc(95vh);
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.wrapper__col {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 2px solid #C7C7C7;;
}

.wrapper__col:hover {
    background-color: rgba(120, 189, 148, 0.34);
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 991px) {
    .wrapper__col {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .wrapper__col:first-child {
        padding-top: 0;
    }

    .wrapper__col:nth-child(2) {
        padding-top: 0;
    }
}


.picture__wrap {
    z-index: -1;
}

.pict-wpap {
    width: 100%;
    height: 100%;
    box-shadow: 0px 3px 9px 3px rgba(0, 0, 0, 0.5);
}

.info__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 1vw 0.5vw;
}

.header__wrap {
    font-family: $mainFont;
    color: #2d2d2d;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
}

.descr__wrap,
.date__wrap {
    font-family: $mainFont;
    color: #505050;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-top: 1vw;
}

@media (min-width: 768px) and (max-width: 991px) {

    .header__wrap,
    .descr__wrap,
    .date__wrap {
        text-align: center;
    }
}

.btn__mobile {
    display: none;
}

@media (min-width: 481px) and (max-width: 767px) {
    .btn__mobile {
        display: flex;
        justify-content: center;
        margin: 5vw
    }

    .btn__mobile .btn_green {
        @include btn(rgba(120, 189, 148, 0.34), 10px 40px);
        color: #505050;
        font-size: 20px;
        border-radius: 20px;
        text-align: center
    }
}

@media screen and (max-width: 481px) {
    .btn__mobile {
        display: flex;
        justify-content: center;
    }

    .btn__mobile .btn_green {
        @include btn(rgba(120, 189, 148, 0.34), 10px 40px);
        color: #505050;
        font-size: 20px;
        border-radius: 20px;
        text-align: center
    }
}