@import "variables";
@import "mixins";

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.contacts {
    max-width: 1440px;
    margin: 0 auto;
}

.contacts__content-box {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 52px;
    margin-top: 60px;
    margin-bottom: 60px;
}



.contacts__socials-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    @media (max-width:480px) {
        align-items: center;
    }

}

.contacts__list-box {
    display: flex;
    gap: 131px;
    @media (max-width:480px) {
        flex-direction: column;
        gap:8px;
    }
    
}


.contacts__social-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (max-width:480px) {
        gap:8px;
    }
}

.contacts__social-card {
    display: flex;
    align-items: center;
    gap: 10px;
}


.boosty-icon {
    width: 75px;
    height: 70px;
    object-fit: cover;
}

.patreon-icon {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.contacts__support-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    @media (max-width: 480px){
        align-items: center;
    }     
}

.contacts__title {
    text-align: center;;
}
.contacts__support-list-box {
    display: flex;
    flex-direction: row;
    gap: 158px;
    @media (max-width: 480px){
        flex-direction: column;
        gap: 23px;
    }        
}

.contacts__support-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    gap: 10px;
}

.contacts__letter-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 135px;
    padding-left: 33px;
    gap: 20px;
    @media (max-width: 480px){
        margin: 0 auto;
        align-items: center;
        padding-left: 0px;
    }     
}

.contacts__post-box {
    display: flex;
    align-items: center;
    gap: 10px;
    @media (max-width: 480px){
        display: flex;
    flex-direction: column;
    }   

    
}

.contacts-title {
    @include text-styles ($mainFont, 26px, 700, 160%, 1);
        color: #2D2D2D;
}

.contacts__title-h2 {
    align-self: flex-start; 
    @include text-styles ($mainFont, 90px, 600, normal, 0);
        color: #2D2D2D;
        @media (min-width:768px) and (max-width:991px) {
            font-size: 60px;
        }
        @media (min-width:481px) and (max-width:768px) {
            font-size: 50px;
        }
        @media (max-width:480px)  {
            align-self: center;
            font-size: 40px;
        }
    }


.contacts__social-name {
    @include text-styles ($mainFont, 22px, 500, 160%, 2);
        color: #505050;  
}  

.location {
    @include text-styles ($mainFont, 18px, 500, 160%, 2);
        color: #2D2D2D;
}  


.contacts__post-box {
    @include text-styles ($mainFont, 22px, 500, 160%, 2);
    color: #2D2D2D;
}

.post-address {
    @media (max-width:480px)  {
        display: none;
    }  
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color:inherit;
}