.container_advt {
  max-width: 1180px;
  margin: 0 auto;
}

.header__main {
  font-family: "Playfair Display", serif;
  font-size: 80px;
  font-weight: 600;
}

.advt_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
}

.picture__advt {
  display: block;
}

.descr {
  display: flex;
  flex-direction: column;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.header__descr {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 32px;
  margin-top: 20px;
}

.date__event,
.text__descr {
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  font-size: 20px;
  margin-top: 2vw;
}

.btn_green {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: rgba(120, 189, 148, 0.34);
  padding: 18px 50px;
  font-family: "Arsenal", sans-serif;
  cursor: pointer;
  border: none;
  color: #141414;
  font-family: "Source Serif 4", serif;
  font-size: 20px;
  border-radius: 20px;
}

.btn_green,
.btn .btn_green {
  width: 100%;
}

.container-wrap {
  max-width: 1180px;
  margin: 0 auto;
}

.header-wrapper {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 32px;
  margin-top: 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5vw;
  margin-top: 40px;
}

.wrapper__col {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 2px solid #000;
}

.wrapper__col:hover {
  background-color: rgba(120, 189, 148, 0.34);
  cursor: pointer;
}

.picture__wrap {
  z-index: -1;
}

.pict-wpap {
  width: 100%;
  height: 100%;
}

.info__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vw 0.5vw;
}

.header__wrap {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.descr__wrap,
.date__wrap {
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-top: 1vw;
}

.btn__mobile {
  display: none;
}

@media screen and (max-width: 1450px) {
  .container_advt {
    max-width: 1450px;
    margin: 0 auto;
  }
  .header__main {
    text-align: center;
  }
  .advt_row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vw;
  }
  .pict-wpap {
    width: 100%;
    height: 100%;
  }
  .descr {
    align-items: center;
    margin-top: 5vw;
  }
  .header__descr {
    text-align: center;
    margin-top: 20px;
  }
  .btn_green {
    width: 100%;
    height: 100%;
  }
  .header-wrapper {
    margin-top: 5vw;
    text-align: center;
  }
  .wrapper {
    gap: 5vw;
    max-height: 75vh;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 5vw;
  }
  .wrapper__col {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 2px solid #000;
  }
}
@media screen and (max-width: 992px) {
  .container_advt {
    max-width: 992px;
    margin: 0 auto;
  }
  .header__main {
    font-size: 100%;
    text-align: center;
  }
  .advt_row {
    margin-top: 2.5vw;
  }
  .pict-wpap {
    width: 100%;
    height: 100%;
  }
  .descr {
    margin-top: 2.5vw;
  }
  .container-wrap {
    max-width: 991px;
    margin: 0 auto;
  }
  .header-wrapper {
    margin-top: 2.5vw;
    text-align: center;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw;
    max-height: 100vh;
    overflow-x: hidden;
  }
  .wrapper__col {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 2px solid #000;
  }
  .pict-wpap {
    display: block;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .container_advt {
    max-width: 768px;
    margin: 0 auto;
  }
  .header__main {
    font-size: 100%;
    text-align: center;
  }
  .advt_row {
    margin-top: 1.5vw;
  }
  .descr {
    margin-top: 1.5vw;
    justify-content: center;
  }
  .header__descr {
    font-size: 30px;
    text-align: center;
  }
  .date__event,
  .text__descr,
  .btn {
    font-size: 100%;
    text-align: center;
  }
  .container-wrap {
    max-width: 768px;
    margin: 0 auto;
  }
  .header-wrapper {
    font-size: 100%;
    text-align: center;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3vw;
    max-height: 75vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .wrapper__col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .header__wrap,
  .descr__wrap,
  .date__wrap {
    font-size: 100%;
    text-align: center;
  }
  .btn__mobile {
    width: 100%;
    font-size: 100%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .container_advt {
    max-width: 480px;
    margin: 0 auto;
  }
  .header__main {
    font-size: 100%;
    text-align: center;
  }
  .advt_row {
    margin-top: 1vw;
  }
  .descr {
    margin-top: 1vw;
  }
  .header__descr {
    font-size: 100%;
    text-align: center;
  }
  .date__event,
  .text__descr,
  .btn {
    font-size: 100%;
    text-align: center;
  }
  .container-wrap {
    max-width: 480px;
    margin: 0 auto;
  }
  .header-wrapper {
    font-size: 100%;
    text-align: center;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2vw;
    max-height: 75vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .header__wrap,
  .descr__wrap,
  .date__wrap {
    font-size: 100%;
    text-align: center;
  }
  .btn__mobile {
    display: flex;
    justify-content: center;
  }
  .btn__descr,
  .btn_green {
    width: 100%;
    font-size: 100%;
    margin: 2vw auto;
  }
}/*# sourceMappingURL=page_events.css.map */