* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #F1F1F1;
    height: 302px;
    max-width: 1440px;
}

.footer__line {
    max-width: 1180px;
    margin-top: 100px;
}

.container-logo {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.footer__logo {
    color: #000000;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;

    #footer-logo {
        height: 45px;
    }
}

.footer__icons {
    display: flex;
    gap: 20px;

    #footer-icons {
        height: 24px;
    }
}

.container-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.copyright {
    color: #505050;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer__menu {
    display: flex;
    gap: 30px;
}

.footer__menu a {
    text-decoration: none;
    color: #000000;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    display: flex;
    gap: 30px;
}