* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.top-line__navigation {
  display: flex;
  flex-direction: row;
  padding: 9px 80px;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: 0px 1px 0px 0px #000;
}
@media (max-width: 480px) {
  .top-line__navigation {
    flex-direction: row;
    align-items: flex-start;
    padding: 9px 20px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .top-line__navigation {
    flex-direction: row;
    align-items: flex-start;
    padding: 9px 60px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .top-line__navigation {
    padding: 9px 70px;
  }
}
.top-line__navigation .top-line__logo #top-line-logo {
  height: 45px;
}
@media (max-width: 480px) {
  .top-line__navigation .top-line__logo {
    height: 15px;
    padding-bottom: 55px;
  }
}
.top-line__navigation .top-line__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
@media (max-width: 480px) {
  .top-line__navigation .top-line__menu {
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .top-line__navigation .top-line__menu {
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .top-line__navigation .top-line__menu {
    flex-direction: row;
    gap: 15px;
  }
}
.top-line__navigation .menu_link {
  font-family: "Arsenal", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0;
  text-decoration: none;
  text-align: center;
}

.top-line__title {
  display: flex;
  flex-direction: column;
  padding: 40px 100px 40px 100px;
  width: 100%;
  background-color: #A0D3B2;
  text-align: center;
  box-shadow: 0px 1px 0px 0px #C7C7C7;
}
@media (min-width: 768px) and (max-width: 991px) {
  .top-line__title {
    padding: 35px 55px 35px 55px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .top-line__title {
    padding: 35px 25px 35px 25px;
  }
}
@media (max-width: 480px) {
  .top-line__title {
    padding: 30px 10px 30px 10px;
  }
}
.top-line__title .top-line__title-big {
  width: 100%;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #2D2D2D;
}
@media (max-width: 480px) {
  .top-line__title .top-line__title-big {
    font-size: 60px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .top-line__title .top-line__title-big {
    font-size: 76px;
  }
}
.top-line__title .top-line__title-small {
  width: 100%;
  text-align: center;
  font-family: "Arsenal", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #505050;
}
@media (max-width: 480px) {
  .top-line__title .top-line__title-small {
    font-size: 22px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .top-line__title .top-line__title-small {
    font-size: 34px;
  }
}

.top-line__social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 130px 15px 130px;
  box-shadow: 0px 1px 0px 0px #000;
}
@media (max-width: 480px) {
  .top-line__social {
    flex-direction: column;
    padding: 20px 20px 20px 20px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .top-line__social {
    flex-direction: column;
    padding: 20px 60px 20px 60px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .top-line__social {
    padding: 20px 70px 20px 70px;
  }
}
@media (min-width: 992px) and (max-width: 1449px) {
  .top-line__social {
    padding: 20px 80px 20px 80px;
  }
}
.top-line__social .top-line__text {
  color: #000;
  font-family: "Arsenal", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
@media (max-width: 480px) {
  .top-line__social .top-line__text {
    font-size: 18px;
    padding-bottom: 20px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .top-line__social .top-line__text {
    font-size: 20px;
    padding-bottom: 20px;
  }
}
.top-line__social .top-line__icons {
  display: flex;
  gap: 20px;
}
.top-line__social .top-line__icons #top-icons {
  height: 24px;
}
@media (max-width: 480px) {
  .top-line__social .top-line__icons #top-icons {
    height: 20px;
  }
}

a {
  text-decoration: none;
  color: #000;
}/*# sourceMappingURL=template_top-line.css.map */