@import "variables";
@import "mixins";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.welcome__content-box {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-top: 30px;
    margin-bottom: 30px;
}

.opinion__card {
    display: flex;
    flex-direction: column;
    padding: 50px 0px 50px 0px;

    @media (max-width: 480px) {
        flex-direction: column;
    }

    @media (min-width: 481px) and (max-width: 767px) {
        flex-direction: column;
    }

    @media (min-width: 1450px) and (max-width: 1920px) {
        min-width: 582px
    }
}

.opinion__light-box {
    background: rgba(255, 255, 255, 1);
    padding: 44px 44px 44px 49px;


    @media (max-width: 480px) {
        max-height: unset;
        padding: 35px 25px 35px 25px;
    }

    @media (min-width: 481px) and (max-width: 767px) {
        padding: 35px 25px 35px 25px;
        max-height: none;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        max-width: 647.5px;
        max-height: none;
        display: flex;
        align-items: center;
    }

    @media (min-width: 992px) and (max-width: 1449px) {
        max-height: none;
    }

    .opinion__content {
        display: flex;
        flex-direction: column;
        max-width: 528px;
        font-family: 'Manrope', sans-serif;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 180%;

        @media (min-width: 768px) and (max-width: 991px) {
            max-width: none;
        }
    }
}

@mixin text-styles ($font-family, $font-size, $font-weight, $line-height, $letter-spacing) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

.opinion__content{
    display: flex;
    flex-direction: column;
    .welcome__title {
        @include text-styles ($mainFont, 32px, 600, normal, 0);
        color: #2D2D2D;
        text-align: center;
    }
    .welcome__general-text {
        @include text-styles ($mainFont, 20px, 400, 30px, 0);
        text-align: justify;
        margin:42px 0px 35px 0px;
        color: #505050;
    }
    .welcome__welcome {
        @include text-styles ($mainFont, 28px, 600, normal, 0);
        color: #2D2D2D;
        text-align: center;
    }
}


.opinion__dark-box {
    display: flex;
    align-items: center;
    background-color: rgba(30, 44, 48, 1);
    max-height: 122px;

    @media (min-width: 768px) and (max-width: 991px) {
        max-width: none;
    }

    .dark-box__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 51px;
        padding-right: 51px;
        min-width: 644px;

        @media (max-width: 480px) {
            flex-direction: column-reverse;
            align-items: flex-end;
            max-height: max-content;
            margin-top: 15px;
            margin-bottom: 15px;
            padding-left: 35px;
            padding-right: 35px;
        }

        @media (min-width: 481px) and (max-width: 767px) {
            flex-direction: column-reverse;
            align-items: flex-end;
            max-height: max-content;
            margin-top: 40px;
            margin-bottom: 40px;
            padding-left: 35px;
            padding-right: 35px;
            max-height: none;
            align-items: stretch;
        }

        @media (min-width: 768px) and (max-width: 991px) {
            margin-top: 40px;
            margin-bottom: 40px;
            max-width: none;
        }

        @media (min-width: 992px) and (max-width: 1449px) {
            max-height: none;
            gap: 24px;
        }
    }
}

.opinion__customer-info {
    display: flex;
    gap: 38px;

    @media (max-width: 480px) {
        flex-direction: row;
        align-items: none;
        justify-content: flex-start;
        align-items: center;
        max-width: none;
    }

    @media (min-width: 481px) and (max-width: 767px) {
        flex-direction: row;
        align-items: none;
        justify-content: flex-start;
        align-items: center;
        max-width: none;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        gap: 44px;
    }

    @media (min-width: 992px) and (max-width: 1449px) {
        max-width: none;
        gap: 25px;
    }
}

.customer-info__photo {
    max-height: 100%;

    @media (max-width: 480px) {
        height: auto;
    }

    @media (min-width: 481px) and (max-width: 767px) {
        height: auto;
    }

    .customer-pic {
        height: 100%;

        @media (max-width: 480px) {
            height: auto;
        }

        @media (min-width: 481px) and (max-width: 767px) {
            height: auto;
        }
    }
}

.customer-info__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    min-width: 138px;
    justify-content: space-evenly;

    @media (max-width: 480px) {
        align-items: flex-end;
        text-align: end;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        min-width: auto;
    }

    .customer-name {
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
        /* 32px */
        letter-spacing: -0.2px;
    }

    .customer-city {
        font-family: 'Manrope', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%;
        /* 22.4px */
        letter-spacing: 0.42px;
    }
}

.estimate__pic {
    height: 40px;

    @media (min-width: 992px) and (max-width: 1449px) {
        height: 21px;
    }

    @media (max-width: 480px) {
        height: 21px;
    }

    @media (min-width: 481px) and (max-width: 767px) {
        height: auto;
    }
}

.customer-quote {
    @media (min-width: 992px) and (max-width: 1449px) {
        display: flex;
        align-self: flex-start;
    }

    @media (max-width: 480px) {
        display: none;
    }

    @media (min-width: 481px) and (max-width: 767px) {
        display: none;
    }
}